apiVersion: apps/v1beta2
kind: Deployment
metadata:
  name: {{ template "jetty.fullname" . }}
  labels:
    app: {{ template "jetty.name" . }}
    chart: {{ template "jetty.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ template "jetty.name" . }}
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ template "jetty.name" . }}
        chart: "{{ .Chart.Name }}"
        heritage: "{{ .Release.Service }}"
        release: {{ .Release.Name }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 8080
          livenessProbe:
            httpGet:
              path: /
              port: http
          readinessProbe:
            httpGet:
              path: /
              port: http
          ports:
            - name: http1
              containerPort: 8443
        #  livenessProbe:
        #    httpGet:
        #      path: /
        #      port: http
        #  readinessProbe:
        #    httpGet:
        #      path: /
        #      port: http

          resources:
{{ toYaml .Values.resources | indent 12 }}
    {{- with .Values.tolerations }}
      tolerations:
{{ toYaml . | indent 8 }}
    {{- end }}
{{- if .Values.node }}
      affinity:
        {{- include "nodeaffinity" . | indent 6 }}
{{- end }}
